# Server
PORT=5000

# MongoDB connection string
MONGO_URI=mongodb+srv://ShashwatiGavhale:@Shashwati1212@cluster0.cu5aief.mongodb.net/?appName=Cluster0
# JWT secret
JWT_SECRET=your_jwt_secret_here_change_me
JWT_EXPIRES_IN=7d
